DocSo_PC/DocSo_PC/Web References/wrDHN/wsdhn.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertBilling">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocSoID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="checksum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertBillingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertBillingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertBillingSoapIn">
    <wsdl:part name="parameters" element="tns:insertBilling" />
  </wsdl:message>
  <wsdl:message name="insertBillingSoapOut">
    <wsdl:part name="parameters" element="tns:insertBillingResponse" />
  </wsdl:message>
  <wsdl:portType name="wsDHNSoap">
    <wsdl:operation name="insertBilling">
      <wsdl:input message="tns:insertBillingSoapIn" />
      <wsdl:output message="tns:insertBillingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsDHNSoap" type="tns:wsDHNSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertBilling">
      <soap:operation soapAction="http://tempuri.org/insertBilling" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsDHNSoap12" type="tns:wsDHNSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertBilling">
      <soap12:operation soapAction="http://tempuri.org/insertBilling" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsDHN">
    <wsdl:port name="wsDHNSoap" binding="tns:wsDHNSoap">
      <soap:address location="http://192.168.90.6:82/wsdhn.asmx" />
    </wsdl:port>
    <wsdl:port name="wsDHNSoap12" binding="tns:wsDHNSoap12">
      <soap12:address location="http://192.168.90.6:82/wsdhn.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>