DocSo_PC/DocSo_PC/Web References/wrThuongVu/wsthuongvu.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="get_Hinh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FolderLoai" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FolderIDCT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_HinhResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_HinhResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ghi_Hinh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FolderLoai" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FolderIDCT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HinhDHN" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ghi_HinhResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ghi_HinhResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="xoa_Hinh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FolderLoai" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FolderIDCT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="xoa_HinhResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="xoa_HinhResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="xoa_Folder_Hinh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FolderLoai" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FolderIDCT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="xoa_Folder_HinhResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="xoa_Folder_HinhResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="get_HinhSoapIn">
    <wsdl:part name="parameters" element="tns:get_Hinh" />
  </wsdl:message>
  <wsdl:message name="get_HinhSoapOut">
    <wsdl:part name="parameters" element="tns:get_HinhResponse" />
  </wsdl:message>
  <wsdl:message name="ghi_HinhSoapIn">
    <wsdl:part name="parameters" element="tns:ghi_Hinh" />
  </wsdl:message>
  <wsdl:message name="ghi_HinhSoapOut">
    <wsdl:part name="parameters" element="tns:ghi_HinhResponse" />
  </wsdl:message>
  <wsdl:message name="xoa_HinhSoapIn">
    <wsdl:part name="parameters" element="tns:xoa_Hinh" />
  </wsdl:message>
  <wsdl:message name="xoa_HinhSoapOut">
    <wsdl:part name="parameters" element="tns:xoa_HinhResponse" />
  </wsdl:message>
  <wsdl:message name="xoa_Folder_HinhSoapIn">
    <wsdl:part name="parameters" element="tns:xoa_Folder_Hinh" />
  </wsdl:message>
  <wsdl:message name="xoa_Folder_HinhSoapOut">
    <wsdl:part name="parameters" element="tns:xoa_Folder_HinhResponse" />
  </wsdl:message>
  <wsdl:portType name="wsThuongVuSoap">
    <wsdl:operation name="get_Hinh">
      <wsdl:input message="tns:get_HinhSoapIn" />
      <wsdl:output message="tns:get_HinhSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ghi_Hinh">
      <wsdl:input message="tns:ghi_HinhSoapIn" />
      <wsdl:output message="tns:ghi_HinhSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="xoa_Hinh">
      <wsdl:input message="tns:xoa_HinhSoapIn" />
      <wsdl:output message="tns:xoa_HinhSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="xoa_Folder_Hinh">
      <wsdl:input message="tns:xoa_Folder_HinhSoapIn" />
      <wsdl:output message="tns:xoa_Folder_HinhSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsThuongVuSoap" type="tns:wsThuongVuSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_Hinh">
      <soap:operation soapAction="http://tempuri.org/get_Hinh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ghi_Hinh">
      <soap:operation soapAction="http://tempuri.org/ghi_Hinh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xoa_Hinh">
      <soap:operation soapAction="http://tempuri.org/xoa_Hinh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xoa_Folder_Hinh">
      <soap:operation soapAction="http://tempuri.org/xoa_Folder_Hinh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsThuongVuSoap12" type="tns:wsThuongVuSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_Hinh">
      <soap12:operation soapAction="http://tempuri.org/get_Hinh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ghi_Hinh">
      <soap12:operation soapAction="http://tempuri.org/ghi_Hinh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xoa_Hinh">
      <soap12:operation soapAction="http://tempuri.org/xoa_Hinh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xoa_Folder_Hinh">
      <soap12:operation soapAction="http://tempuri.org/xoa_Folder_Hinh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsThuongVu">
    <wsdl:port name="wsThuongVuSoap" binding="tns:wsThuongVuSoap">
      <soap:address location="http://192.168.90.11:81/wsthuongvu.asmx" />
    </wsdl:port>
    <wsdl:port name="wsThuongVuSoap12" binding="tns:wsThuongVuSoap12">
      <soap12:address location="http://192.168.90.11:81/wsthuongvu.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>